body {
	margin: 0px;
}

#pokemon-container {
	width: 800px;
	height: 800px;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
}

.gamecard {
	width: 25%;
	position: relative;
	transition: transform 1s;
	perspective: 1000px;
	transform-style: preserve-3d;
	border: none !important;
    margin-bottom: 25%;
}

img {
	width: 100%;
}

.front-face,
.back-face {
	position: absolute;
	backface-visibility: hidden;
}

.flip {
	transform: rotateY(180deg);
}

.front-face {
	transform: rotateY(180deg);
}

input[type=radio] {
    position: fixed;
    opacity: 0;
    pointer-events: none;
}

.hidden {
	display: none !important;
}

.controller {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: gray;
}

#statistics {
	width: 75%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}